<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="user" class="com.pojo.User">
<!--    <property name="name" value="testname"/>-->
<!--下标赋值-->
<!--    <constructor-arg index="0" value="testname"/>-->
<!--类型赋值-->
<!--    <constructor-arg type="java.lang.String" value="testname"/>-->
<!--参数名赋值-->
    <constructor-arg name="name" value="testname"/>
</bean>

</beans>